@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fugaz+One&family=Lobster&display=swap");

.navText {
  font-family: "Courgette";
}

.btnText {
  font-family: "Fugaz One";
}

// AllRecipes
.all-container {

  text-align: center;
  background-color: white;
  padding: 2rem 0rem;

  .all-title {
    font-family: "Fugaz One";
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(255,20,147);
    padding: 0% 5%;
    margin: -0.2% 0% -3.2% 0%;
  }
  
  .allRecipes {
    display: flex;
    flex-direction: column;

    .recipeImg {
      width: 100%;
      margin-bottom: 1%;
      max-width: 50rem; 
    }

    h2 {
        font-family: "Lobster";
        font-weight: 500;
        font-size: 2rem;
        margin-top: 5%;
        margin-bottom: 1rem;
        color: rgb(34,139,34);
    }

    h3 {
      font-family: "Courgette";
      font-weight: 500;
      font-size: 1rem;
      color: rgb(255,20,147);
    }

    .combine {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-left: 6%;
    }
    

    p {
        margin: 1% 8%;
        font-family: "Courgette";
        font-weight: 500;
        font-size: 1rem;
        color: black;
        overflow-wrap: break-word;
    }

  }

}

// UserPage
.userContainer {

  text-align: center;
  background-color: white;
  padding: 2rem 0rem;

  .user-title {
    font-family: "Fugaz One";
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: deeppink;
    padding: 0% 5%;
    margin: -0.5% 0% -2.5% 0%;
  }

  .note {
    font-family: "Lobster";
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255,105,180);
    padding: 0% 5%;
    margin: 4% 0% -2.5% 0%;
  }

  .list {

    .userRecipeImg {
      width: 100%;
      margin-bottom: 1%;
      max-width: 50rem; 
    }

    h2 {
      font-family: "Lobster";
      font-weight: 500;
      font-size: 2rem;
      margin-top: 5%;
      margin-bottom: 1rem;
      color: rgb(34,139,34);
    }

    .textContainer {
      display:block;
    }

    h3 {
      font-family: "Courgette";
      font-weight: 500;
      font-size: 1rem;
      color: deeppink;
    }

    .combo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-left: 6%;
    }

    p {
        margin: 1% 8%;
        font-family: "Courgette";
        font-weight: 500;
        font-size: 1rem;
        color: black;
        overflow-wrap: break-word;
    }

    .buttonContainer {

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 2rem 0rem;
      width: 100%;

      .btnEdit {
        font-family: "Courgette";
        font-size: 0.8rem;
        text-decoration: none;
        color: black;
        background: rgb(152,231,152);
        padding: 0.3rem 1.5rem;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background: rgb(34,139,34);
          color: white;
        }
      }
      .btnDel {
        font-family: "Courgette";
        font-size: 0.8rem;
        text-decoration: none;
        color: black;
        background: pink;
        padding: 0.3rem 1.5rem;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background: hotpink;
          color: white;
        }
      }
        
    }

  }
}

// Modal
.ReactModalPortal {
  h2 {
    margin: 0 0 2rem 0;
  }

  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(255, 255, 255, 0.37);
  }
  .ReactModal__Content {
    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        background: none;
        height: 1.5rem;
        width: 18%;
        background-color: hotpink;
        border: none;
        margin-bottom: 1.8rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: rgb(255,20,147);
        }
        i {
          font-size: 0.8rem;
          color: white;
        }
      }
    }
    .updateInput {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          margin-bottom: 0.3rem;
          align-self: flex-start;
          margin-left: 1.5rem;
          font-weight: 700;
        }
        textarea {
          border-radius: 3px;
          border: none;
          margin-bottom: 1rem;
          margin-right: 5rem;
          margin-left: 5rem;
          width: 80%;
          height: 20vh;
          padding: 2%;
        }
        .button {
          width: 25%;
          height: 1.8rem;
          font-size: 0.8rem;
          color: white;
          border-radius: 8px;
          cursor: pointer;
          background-color: hotpink;
          &:hover {
            background: rgb(255,20,147);
          }
          border: none;
        }
        input {
          border-radius: 3px;
          border: none;
          margin-bottom: 1rem;
          margin-right: 5rem;
          margin-left: 5rem;
          width: 80%;
          height: 4.5vh;
          padding: 0% 2%;
        }
      }
    }
    font-family: "Lobster";
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: "-50%";
    transition: "2s";
    background-color: rgb(58, 58, 58);
    color: white;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation-name: modalFade;
    animation-duration: 0.6s;
  }
}

